/* Normal links */
a {
  color: #29a9ff;
  text-decoration: none;
}

/* Wonder gradient on hover */
a:hover,
a:focus {
  background: linear-gradient(
    to bottom,
    #29a9ff 0%,
    #ffffff 50%,
    #ff1493 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-decoration: none;
}

/* Just the Docs sidebar links */
.nav-list-link:hover,
.nav-list-link:focus {
  background: linear-gradient(
    to bottom,
    #29a9ff 0%,
    #ffffff 50%,
    #ff1493 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-decoration: none;
}
